<link rel="stylesheet" href="/assets/css/listproduct.css">
<!-- Start Content -->
<div class="container py-5">
    <div class="row">


        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="/shop">All</a>
                        </li>
                        {{#each catdata}}
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3"
                                href="/shop_catgry/{{this._id}}">{{this.categoryname}}</a>
                        </li>
                        {{/each}}

                    </ul>
                </div>

                <div class="row">
                    {{#each response.data}}
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid">
                            <div class="product-image">
                                
                                    <img src="/productimages/{{this.image.[0]}}">
                          


                                <ul class="product-links">
                                    <li><a onclick="addtocart('{{this._id}}')" style="cursor: pointer;"><i
                                                class="fas fa-cart-plus"></i></a></li>
                                    <li><a onclick="wishlist('{{this._id}}')" style="cursor: pointer;"><i
                                                class="far fa-heart"></i></a></li>

                                    <li><a href="/single_product/{{this._id}}" style="cursor: pointer;"><i
                                                class="far fa-eye"></i></a></li>
                                </ul>
                                <ul class="rating">
                                   <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                </ul>
                            </div>
                            <div class="product-content">
                                <h3 class="title">{{this.brand}}</h3>
                                <h2 class="title">{{this.productname}}</h3>
                                    <div class="price">&#8377;{{this.discountprice}}
                                        <span>&#8377;{{this.price}}</span>({{this.percentage}})%off</div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>


            </div>

        </div>
    </div>
    </div>
    <!-- End Content -->


    <script>


        const wishlist = async (id) => {


            const res = await axios.post(`/wishlist/${id}`, {}).then((e) => {

                swal({
                    title: "Good job!",
                    text: "Item added to wishlist!",
                    icon: "success",
                    button: false,
                    timer: 1000,

                });
                setTimeout(() => {

                }, 6000)



            });
        }

        const addtocart = async (id) => {
            console.log(id, 'id at addtocart axios.............../.......')


            const res = await axios.post(`/addtocart/${id}`, {}).then((e) => {


                swal({
                    title: "Good job!",
                    text: "Item added to cart!",
                    icon: "success",
                    button: false,
                    timer: 1000



                });

                setTimeout($("#cartscount").load(location.href + " #cartscount>*", ""), 600);

            });
        }
    </script>