<div class="container mt-2 mb-3">

    <a href="" class="btn  btn-outline-info my-3" data-toggle="modal" data-target="#ModalCenter">Add adress</a>


    <!--add address modal -->

    <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLongTitle">Add Address</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form action="/add_address_profile" method="post" id="AddressForm">
                        {{!-- <form action="/checkout" method="post" id="AddressForm"> --}}

                            <div class="form-row" style="margin-bottom: 20px;">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Name" name="name" required>
                                </div>
                            </div>
                            <div class="form-row" style="margin-bottom: 20px;">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Housename" name="housename"
                                        required>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Apartment" name="apartment"
                                        required>
                                </div>
                            </div>
                            <div class="form-row" style="margin-bottom: 20px;">
                                <div class="col">
                                    <input type="text" style="text-transform: capitalize;" class="form-control"
                                        placeholder="Village / City Name" name="villageorcity">
                                </div>
                                <div class="col">
                                    <input type="text" style="text-transform: capitalize;" class="form-control"
                                        placeholder="Postoffice" name="postoffice">
                                </div>
                            </div>
                            <div class="form-row" style="margin-bottom: 20px;">
                                <div class="col">
                                    <input type="text" style="text-transform: capitalize;" class="form-control"
                                        placeholder="District" name="district">
                                </div>
                                <div class="col">
                                    <input type="text" style="text-transform: capitalize;" class="form-control"
                                        placeholder="PIN NO" name="pin">
                                </div>
                            </div>
                            <div class="form-row" style="margin-bottom: 20px;">
                                <div class="col">
                                    <input pattern=".{10,10}" type="number" class="form-control"
                                        placeholder="Mobile Number" name="mobile" title="plese enter 10 number">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Near By Landmark"
                                        name="landmark">
                                </div>
                            </div>
                            <div class="form-row" style="margin-bottom: 20px;">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="State" name="state"
                                        value="{{this.state}}">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" readonly placeholder="Country"
                                        name="Country" value="INDIA">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>

                        </form>

                        {{!-- ................................ --}}

                </div>

            </div>
        </div>
    </div>


<!--add address modal end -->






<div class="row">

    {{#each address.addresses}}
    <div class="col-sm-6">
        <div class="card mb-1 bg-light">
            <div class="card-body">





                <h5 class="card-title">{{this.name}}&nbsp;{{this.mobile}}</h5>
                <div class="row main align-items-center">
                    <ul class="h6" style="list-style-type:none;">
                        <li>{{this.name}}</li>
                        <li>{{this.housename}}, {{this.villageorcity}}</li>

                        <li>{{this.apartment}}, {{this.postoffice}} PO ,PIN {{this.pin}}</li>

                        <li> {{this.district}}, {{this.state}}</li>
                        <li>
                            MOB +91-{{this.mobile}},
                            <ion-icon name="location-outline"></ion-icon> {{this.landmark}}
                        </li>
                    </ul>
                </div>
                <a href="" class="btn btn-primary" data-toggle="modal" data-target="#ModalCenter1{{this.id}}">Edit</a>
                <a href="/remove_address/{{this._id}}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>


    <div class="modal fade" id="ModalCenter1{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLongTitle">edit address</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form action="/update_address/{{this.id}}" method="post" id="AddressForm">





                        <div class="form-row" style="margin-bottom: 20px;">

                            <div class="col">
                                <input type="text" class="form-control" placeholder="Name" name="name" value=""
                                    required>
                            </div>
                        </div>
                        <div class="form-row" style="margin-bottom: 20px;">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Housename" name="housename"
                                    required>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Apartment" name="apartment"
                                    required>
                            </div>
                        </div>
                        <div class="form-row" style="margin-bottom: 20px;">
                            <div class="col">
                                <input type="text" style="text-transform: capitalize;" class="form-control"
                                    placeholder="Village / City Name" name="villageorcity">
                            </div>
                            <div class="col">
                                <input type="text" style="text-transform: capitalize;" class="form-control"
                                    placeholder="Postoffice" name="postoffice">
                            </div>
                        </div>
                        <div class="form-row" style="margin-bottom: 20px;">
                            <div class="col">
                                <input type="text" style="text-transform: capitalize;" class="form-control"
                                    placeholder="District" name="district">
                            </div>
                            <div class="col">
                                <input type="text" style="text-transform: capitalize;" class="form-control"
                                    placeholder="PIN NO" name="pin">
                            </div>
                        </div>
                        <div class="form-row" style="margin-bottom: 20px;">
                            <div class="col">
                                <input pattern=".{10,10}" type="number" class="form-control" placeholder="Mobile Number"
                                    name="mobile" title="plese enter 10 number">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Near By Landmark" name="landmark">
                            </div>
                        </div>
                        <div class="form-row" style="margin-bottom: 20px;">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="State" name="state"
                                    value="{{this.state}}">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" readonly placeholder="Country" name="Country"
                                    value="INDIA">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>

                    </form>

                    {{!-- ................................ --}}

                </div>

            </div>
        </div>
    </div>
    {{/each}}

</div>
</div>