<style>
    body {
       background: rgb(253,253,255);
background: linear-gradient(180deg, rgba(253,253,255,1) 0%, rgba(250,250,252,1) 62%, rgba(238,252,255,1) 100%);
    }
</style>
<link rel="stylesheet" href="/assets/css/productgrid.css">
<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        {{#each banners}}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{@index}}" class="active"></li>
        {{/each}}

    </ol>
    <div class="carousel-inner">
        {{#each banners}}
        <div class="carousel-item {{#if @first}} active {{/if}}">
            <div style="height: 20 em;object-fit:cover">
                <img class="d-block  w-100 " src="/bannerimages/{{this.image.[0]}}" alt="First slide">
            </div>
            <div class="carousel-caption d-none text-danger">
                <h>{{this.bannerheading}}</h5>
                    <h2>{{this.bannersubheading}}</h2>
                    <p>{{this.description}}</p>
            </div>


        </div>
        {{/each}}
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>



<!-- Start Content -->
<div class="">
    <div class="row">


        <div class="col-lg-12">
            <div class="row"
                style="background: rgb(253,253,255);
background: linear-gradient(3deg, rgba(253,253,255,1) 0%, rgba(250,250,252,1) 62%, rgba(238,252,255,1) 100%);">
                
                <section class="container py-5" style="border-width: 20px;">
                    <div class="row text-center pt-3">
                        <div class="col-lg-6 m-auto">
                            <h1 class="h1 text-info">New Arrivals</h1>
                            <p class="text-dark">
                                Shop exclussive and latest fashion from new arraivals . Best quality products are
                                assured form fauxmen fashion.
                            </p>
                        </div>
                    </div>


                    <div class="row mt-5" style="">
                        {{#each response.data}}
                        <div class="col-md-3 col-sm-6 mb-2">
                            <div class="product-grid2">
                                <div class="product-image">
                                    
                                        <img src="/productimages/{{this.image.[0]}}">
                                   

                                    <ul class="product-links">
                                        <li><a onclick="addtocart('{{this._id}}')"><i
                                                    class="fas fa-cart-plus"></i></a></li>
                                        <li><a onclick="wishlist('{{this._id}}')"><i class="far fa-heart"></i></a></li>

                                        <li><a href="/single_product/{{this._id}}"><i class="far fa-eye"></i></a></li>
                                    </ul>
                                    <ul class="rating">
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <h3 class="title">{{this.brand}}</h3>
                                    <h2 class="title">{{this.productname}}</h3>
                                        <div class="price">&#8377;{{this.discountprice}}
                                            <span>&#8377;{{this.price}}</span>({{this.percentage}})%off</div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </section>
            </div>

        </div>
    </div>
    <!-- End Content -->







    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container py-5" id="categ">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1 text-info">Shop by category </h1>
                <p class="text-dark">
                    Shop exclussive products from each category. Best quality products are assured form fauxmen
                    fashion.
                </p>
            </div>
        </div>
        {{!-- <div class="row">
            {{#each catdata}}


            <div class="col-12 col-md-3 p-2 mt-3">
                <a href="/shop_catgry/{{this._id}}"> <img src="./assets/img/category{{inc @index}}.webp"
                        class=" img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">{{this.categoryname}}</h5>

            </div>
            {{/each}}

        </div> --}}
        <div class="row">
            {{#each catdata}}
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="/shop_catgry/{{this._id}}" class="image"><img
                                src="./assets/img/category{{inc @index}}.webp"></a>

                    </div>
                    <div class="product-content">
                        <a class="add-to-cart" href="/shop_catgry/{{this._id}}">{{this.categoryname}}</a>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>


    </section>
    <!-- End Categories of The Month -->


    <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Our Brands</h1>
                    <p>
                        fauxmen provides you best brands on the market. Ensure you the best quality from best brands
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example"
                                data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a><img class="img-fluid brand-img" src="assets/img/brand_01.png"
                                                        alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a><img class="img-fluid brand-img" src="assets/img/brand_02.png"
                                                        alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a><img class="img-fluid brand-img" src="assets/img/brand_03.png"
                                                        alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a><img class="img-fluid brand-img" src="assets/img/brand_04.png"
                                                        alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End First slide-->

                                    <!--Second slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a><img class="img-fluid brand-img" src="assets/img/brand_01.png"
                                                        alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a><img class="img-fluid brand-img" src="assets/img/brand_02.png"
                                                        alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a><img class="img-fluid brand-img" src="assets/img/brand_03.png"
                                                        alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a><img class="img-fluid brand-img" src="assets/img/brand_04.png"
                                                        alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Second slide-->

                                    <!--Third slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a><img class="img-fluid brand-img" src="assets/img/brand_01.png"
                                                        alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a><img class="img-fluid brand-img" src="assets/img/brand_02.png"
                                                        alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a><img class="img-fluid brand-img" src="assets/img/brand_03.png"
                                                        alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a><img class="img-fluid brand-img" src="assets/img/brand_04.png"
                                                        alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Third slide-->

                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>




</div>

<script>


    const wishlist = async (id) => {


        const res = await axios.post(`/wishlist/${id}`, {}).then((e) => {

            swal({
                title: "Good job!",
                text: "Item added to wishlist!",
                icon: "success",
                button: false,
                timer: 1000,

            });
            setTimeout(() => {

            }, 6000)



        });
    }

    const addtocart = async (id) => {
        console.log(id, 'id at addtocart axios.............../.......')


        const res = await axios.post(`/addtocart/${id}`, {}).then((e) => {


            swal({
                title: "Good job!",
                text: "Item added to cart!",
                icon: "success",
                button: false,
                timer: 1000



            });

            setTimeout($("#cartscount").load(location.href + " #cartscount>*", ""), 600);

        });
    }
</script>